ion-card {
    min-width: 51%;
    margin-bottom: 2%;
    padding-left: 10px;
    padding-right: 10px;
}

ion-card-content {
    padding: 2%!important;
    color: white;
}

.right {
    float: right;
    ion-card-content {
        float: right;
    }
    background-color: darkblue;
}

.left {
    float: left;
}