ion-card {
    min-width: 51%;
    max-width: 70%;
    margin-bottom: 2%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

small {
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-icon {
    font-size: 20px;
}

ion-card-content {
    padding: 2% 0!important;
    color: white;
}

.right {
    float: right;
    ion-card-content {
        float: right;
    }
    background-color: darkblue;
}

.left {
    float: left;
}