<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="contacts" text="Contacts"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar (click)="displayPhoto()">
        <img src="{{ urlPhoto }}" alt="photo profil">
      </ion-avatar>
    </ion-buttons>
    <ion-title>{{ utilisateur }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <div *ngIf="(messages)?.length > 0; else nothing">
    <app-message *ngFor="let message of messages" [message]=message [discussWith]=receiverId>
    </app-message>
  </div>
  <ng-template #nothing>
    <img src="./../../assets/astronaut.svg" alt="nothing">
  </ng-template>
</ion-content>

<ion-card>
  <form [formGroup]="form">
    <ion-textarea autoGrow="true" placeholder="Message" formControlName="message" class="padding" rows=1>
    </ion-textarea>
    <ion-icon (click)="submit()" color="primary" name="arrow-up-circle-outline"></ion-icon>
  </form>
</ion-card>