ion-card {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

form {
    display: flex;
    align-items: center;
}

.padding {
    padding-left: 10px!important;
    padding-right: 10px!important;
}

ion-icon {
    font-size: 30px;
    padding-right: 5px;
}

img {
    transform: translateY(40%);
}

ion-avatar {
    height: 70px;
    width: 70px;
    img {
        transform: translateY(0%);
        margin: 0!important;
    }
}