<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Nouveau compte</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <div id="container">
    <form (ngSubmit)="submit()" [formGroup]="form">
      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input formControlName="nom" type="text" autocomplete="family-name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Prénom</ion-label>
        <ion-input formControlName="prenom" type="text" autocomplete="given-name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nom d'utilisateur</ion-label>
        <ion-input formControlName="nom_utilisateur" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Date de naissance</ion-label>
        <ion-datetime formControlName="naissance" displayFormat="DD/MM/YYYY" autocomplete="bday" cancelText="Annuler"
          doneText="OK">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Adresse</ion-label>
        <ion-input formControlName="adresse" type="text" autocomplete="street-address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ville</ion-label>
        <ion-input formControlName="ville" type="text" autocomplete="address-level2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Code postal</ion-label>
        <ion-input formControlName="cp" type="text" autocomplete="postal-code"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="mail" autocomplete="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input formControlName="mdp" type="password" autocomplete="new-password" (keyup)="test($event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmation du mot de passe</ion-label>
        <ion-input formControlName="confirm_mdp" type="password" autocomplete="new-password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Photo de profil</ion-label>
        <ion-input type="file" (change)="uploadFile($event)"></ion-input>
      </ion-item>
      <ion-button type="submit" shape="round" [disabled]="!form.valid" class="ion-text-uppercase">
        Créer
      </ion-button>
    </form>
  </div>
</ion-content>